<p id="notice"><%= notice %></p>

<h1>Raw Data</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Time landscape</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @raw_data.each do |raw_datum| %>
      <tr>
        <td><%= raw_datum.name %></td>
        <td><%= raw_datum.time_landscape %></td>
        <td><%= raw_datum.date %></td>
        <td><%= link_to 'Show', raw_datum %></td>
        <td><%= link_to 'Edit', edit_raw_datum_path(raw_datum) %></td>
        <td><%= link_to 'Destroy', raw_datum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Raw Datum', new_raw_datum_path %>
